.card {
  height: 100%;
  border-radius: 0.5rem;
  background-color: var(--color-card-background);
  box-shadow: var(--card-shadow);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  cursor: pointer;
  user-select: none;

  background: var(--card-gradient);
  transition: all .2s ease;
}

.card:hover {
  box-shadow: none;
  filter: brightness(85%);
}

.card .card__name {
  color: var(--color-primary-text);
  font-family: var(--font-poppins);
  font-style: normal;
  font-weight: 500;
  text-transform: capitalize;
  margin: 0 0.4rem;
  color: var(--color-secondary-text);
}

.card .card__image {
  height: 8.5rem;
  width: 100%;
  border-radius: 0.3rem;
  background-position: top left;
  background-size: 100%;
  background-repeat: no-repeat;
  object-fit: contain;
  /*animation: 30s linear 0s infinite alternate card__image-slide;*/
}

@keyframes card__image-slide {
  16.5%, 49.5%, 82.5% {
    background-size: 100%;
    background-position: center center;
  }

  0% {
    background-size: 120%;
    background-position: top left;
  }
  33% {
    background-size: 120%;
    background-position: bottom right;
  }
  66% {
    background-size: 120%;
    background-position: bottom left;
  }
  100% {
    background-size: 120%;
    background-position: top right;
  }
}