.container {
  display: flex;
  flex-direction: row;
  margin-bottom: 1.5rem;
}

.item {
  height: 100%;
  width: 100vw;
  border-radius: 0.5rem;
  padding: 0.5rem 0.5rem;
  background-color: var(--color-card-background);
  box-shadow: var(--card-shadow);
  display: flex;
  overflow: hidden;
  user-select: none;
  transition: all .3s ease;
}

.item__detail {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-left: 0.5rem;
  margin-right: 2rem;
}

.item__name {
  color: var(--color-primary-text);
  font-family: var(--font-poppins);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  text-transform: capitalize;
}

.item__observation {
  color: var(--color-gray);
  font-family: var(--font-poppins);
  font-size: 1.2rem;
  font-style: normal;
  text-transform: capitalize;
}

.item__preco {
  font-family: var(--font-poppins);
  font-style: normal;
  font-weight: 500;
  color: var(--color-price);
  text-transform: capitalize;
}

.item__quantity {
  font-family: var(--font-poppins);
  display: grid;
  text-align: center;
  border: 0.1rem solid var(--color-gray-soft);
  border-radius: 3rem;
}

.button__add {
  height: 3rem;
  width: 3rem;
  border: 0;
  outline: none;
  background: transparent;
  color: var(--color-primary-text);
  display: flex;
  border-radius: 50%;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.button__add:hover {
  background: var(--color-gray-soft);
  transition: all .3s ease;
}

.item__order-quantity {
  font-size: 1.2rem;
}

.button__remove {
  height: 3rem;
  width: 3rem;
  border: 0;
  outline: none;
  background: transparent;
  color: var(--color-primary-text);
  display: flex;
  border-radius: 50%;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.button__remove:hover {
  background: var(--color-gray-soft);
  transition: all .3s ease;
}

.item__icon {
  display: flex;
  text-align: center;
}

.item__button-remove {
  border: 0;
  outline: none;
  background: transparent;
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

object[data-type="svg-icon"] {
  pointer-events: none;
}