.page {
  height: 100vh;
  height: var(--v-height, 100vh);
  display: grid;
  grid-template-rows: 5.4rem 1fr 6rem;
}

.page .page__header {
  height: 5.8rem;
  background: var(--background-gradient);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  border-radius: 0 0 0.3rem 0.3rem;
  box-shadow: var(--header-shadow);
}

.header .header__link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.header .header__logo {
  width: 5rem;
  height: 5rem;
  background: no-repeat center, var(--color-header-background);
  background-size: cover;
  border-radius: 50%;
  box-shadow: 0rem 0rem 0.2rem rgb(128, 128, 128);
  pointer-events: none;
}

.header .header__title {
  margin: 0;
  margin-left: 0.5rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 1.4rem;
  color: white;
  pointer-events: none;
}

.page .page__content {
  margin-top: 0.5rem;
  overflow-y: scroll;
}

.page .page__footer {
  background-color: var(--color-footer-background);
  padding: 0.5rem;
  border-radius: 0.3rem 0.3rem 0 0;
  box-shadow: var(--footer-shadow);
}

.navbar {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.navbar .navbar__item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar .navbar__item:not(:first-child) {
  border-left: 1px solid var(--color-gray-soft);
}

object[data-type="svg-icon"] {
  pointer-events: none;
}

.cart {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.cart .cart__price {
  font-family: var(--font-poppins);
  margin-right: 0.5rem;
  color: var(--color-black-pearl);
  color: #ddd8d8;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-out;
}

.modal .modal__container {
  width: 30rem;
  background-color: var(--color-modal-background);
  border-radius: 1rem;
  box-shadow: var(--modal-shadow);
  overflow: hidden;
}

.content {
  padding: 1.5rem;
}

.content .content__icon {
  display: flex;
  justify-content: center;
}

.content .content__message {
  font-family: var(--font-poppins);
  text-align: center;
  color: var(--color-primary-text);
}

.button__close {
  background: transparent;
  border: none;
  outline: 0;
  width: 100%;
  height: 4.5rem;
  cursor: pointer;
  border-top: 1px solid var(--color-gray-soft);
  font-family: var(--font-poppins);
  font-size: 1.6rem;
  color: var(--color-modal-button-text);
  text-transform: uppercase;
  transition: background 0.2s ease;
}

.button__close:hover {
  background: var(--color-modal-button-hover-background);
}


.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: var(--color-spinner);
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}


@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
