.content .content__title {
  color: var(--color-primary-text);
  font-weight: 600;
  padding: 0 0.5rem;
  margin-bottom: 1rem;
  display: inline-block;
}

.content .content__list {
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}

.list .list__item {
  background: var(--color-card-background);
  box-shadow: var(--card-shadow);
  border-radius: 0.3rem;
  color: var(--color-primary-text);
}

.list__item:not(:last-of-type) {
  margin-bottom: 0.5rem;
}

.list .list__item:hover {
  box-shadow: none;
}

.item .item__radio {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
}