.item {
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
  padding: 0.5rem 0.5rem;
  background-color: var(--color-card-background);
  box-shadow: var(--card-shadow);
  display: flex;
  overflow: hidden;
  cursor: pointer;
  user-select: none;
  transition: all .2s ease;
}

.item::after {
  content: "";
}

.item:hover {
  box-shadow: none;
  filter: brightness(85%);
}

.item .item__image {
  height: 8rem;
  width: 8rem;
  border-radius: 0.7rem;
  position: relative;
  appearance: none;
  overflow: hidden;
}

.image-container .image-container__image {
  height: inherit;
  width: inherit;
  background-position: center center;
  /*background-size: auto 120%;*/
  background-size: 100%;
  background-repeat: no-repeat;
  /*animation: 30s linear 0s infinite alternate product__image-slide;*/
}

.image-container .image-container__check {
  display: none;
  position: absolute;
  width: inherit;
  height: inherit;
  color: var(--color-green);
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.item.checked {
  box-shadow: var(--checked-item-shadow);
  background: var(--color-checked-item-background);
}

.item.checked .item__image .image-container__image {
  filter: blur(1px) brightness(0.8);
}

.item.checked .item__image .image-container__check {
  display: flex;
}

.item .item__detail {
  /*display: flex;*/
  flex: 1;
  justify-content: space-between;
  margin-left: 1rem;
}

.item .item__namepreco{
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.item .item__namepreco .item__name {
  font-family: var(--font-poppins);
  font-size: 1.6rem;
  color: var(--color-primary-text);
  font-style: normal;
  font-weight: 500;
  text-transform: capitalize;
}

.item .item__namepreco .price-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.item__namepreco .price-container .item__preco {
  font-family: var(--font-poppins);
  font-style: normal;
  font-weight: 500;
  color: var(--color-price);
  text-transform: capitalize;
}

.item__namepreco .price-container .item__precooriginal {
  font-family: var(--font-poppins);
  font-style: normal;
  font-size: 1.3rem;
  color: var(--color-gray);
  text-decoration: line-through;
  text-transform: capitalize;
}

.item .item__detail .product__item__description {
  font-family: var(--font-poppins);
  font-size: 1.2rem;
  color: var(--color-primary-text);
  font-style: normal;
  font-weight: 100;
  text-transform: capitalize;
}

/*@keyframes product__image-slide {
  16.5%, 49.5%, 82.5% {
    background-size: auto 100%;
    background-position: center center;
  }

  0% {
    background-size: auto 120%;
    background-position: top left;
  }
  33% {
    background-size: auto 120%;
    background-position: bottom right;
  }
  66% {
    background-size: auto 120%;
    background-position: bottom left;
  }
  100% {
    background-size: auto 120%;
    background-position: top right;
  }
}*/