.content {
  padding: 0 1rem;
}

.content .content__button {
  position: relative;
  margin-top: 5rem;
  height: 5rem;
  width: 100%;
  background: var(--background-gradient);
  color: var(--color-secondary-text);
  font-weight: 600;
  font-family: var(--font-poppins);
  font-size: 1.6rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  transition: background-color .2s ease;
  display: none;
  z-index: 1;
}

.content .content__button::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--background-gradient-inverted);
  z-index: -1;
  transition: opacity 0.3s linear;
  opacity: 0;
}



.content .content__button:hover::before {
  opacity: 1;
}