.page {
  height: 100vh;
  height: var(--v-height, 100vh);
  display: grid;
  grid-template-rows: 5.4rem 1fr 6rem;
}

.page .page__header {
  height: 5.4rem;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
  border-radius: 0 0 0.3rem 0.3rem;
  box-shadow: 0rem 0.1rem 0.4rem rgba(194, 194, 203, 0.822);
}

.page .page__title {
  font-family: var(--font-artifika);
  font-weight: normal;
  font-size: 2.4rem;
  color: #BF4816;
  pointer-events: none;
}

.page .page__content {
  margin-top: 1rem;
  overflow-y: scroll;
}

.page .page__footer {
  background-color: #fff;
  padding: 0 1.5rem;
  border-radius: 0.3rem 0.3rem 0 0;
  box-shadow: 0rem -0.1rem 0.4rem rgba(194, 194, 203, 0.822);
}

.navbar {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.navbar .navbar__item {
  display: flex;
  align-items: center;
  justify-content: center;
}

object[data-type="svg-icon"] {
  pointer-events: none;
}

.cart {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.cart .cart__price {
  font-family: var(--font-poppins);
  margin-right: 0.5rem;
  color: #0E252B;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-out;
}

.modal .modal__container {
  width: 30rem;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.content {
  padding: 1.5rem;
}

.content .content__icon {
  display: flex;
  justify-content: center;
}

.content .content__message {
  font-family: var(--font-poppins);
  text-align: center;
  color: #333;
}

.button__close {
  background: transparent;
  border: none;
  outline: 0;
  width: 100%;
  height: 4.5rem;
  cursor: pointer;
  border-top: 1px solid #e3e3e5;
  font-family: var(--font-poppins);
  font-size: 1.6rem;
  color: #116cf8;
  text-transform: uppercase;
  transition: background 0.2s ease;
}

.button__close:hover {
  background: rgba(0, 0, 0, 0.1);
}