.product {
  font-family: var(--font-poppins);
}

.product .product__image {
  height: 16rem;
  width: 100%;

  background-image: url(/web/images/new/food.jpg);
  background-size: 120%;
  background-position: center center;

  animation: 45s linear 0s infinite alternate product__image-slide;
}

.product .product__info {
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.product .product__detail {
  margin-right: 2.4rem;
}

.product .product__name {
  font-weight: 600;
  color: var(--color-primary-text);
}

.product .product__description {
  color: var(--color-gray);
  margin-top: 0.5rem;
  font-size: 1.4rem;
}

.product .product__price {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.price .price__description {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--color-black-pearl);
}

.price .price__value {
  font-weight: 600;
  color: var(--color-price);
}

.product .slider {
  margin-top: 2rem;
}


@keyframes product__image-slide {
  16.5%, 49.5%, 82.5% {
    background-size: 100%;
    background-position: center center;
  }

  0% {
    background-size: 120%;
    background-position: top left;
  }
  33% {
    background-size: 120%;
    background-position: bottom right;
  }
  66% {
    background-size: 120%;
    background-position: bottom left;
  }
  100% {
    background-size: 120%;
    background-position: top right;
  }
}